* {
    margin: 5px;
}
body{
    background-color: #dfdfdf;
}

main{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#check-response,
#new-question-button,
#new-game {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#check-response {
    background: rgb(28, 184, 65);
}

#new-question-button {
    background: rgb(66,184,221);
}

#new-game {
    background: rgb(202, 60, 60)
}

div span {
}
#game-board{
    padding: 10px
}

h1 {
    margin: 0;
}
#score{
    font-size: 1.5em;
}

#answer{
    margin: 1.25em 0;
}

#value{
    margin: 1.25em 0;
}

#category-title{
    margin: 1.25em 0;
}

#invalid-count{
    margin: 1.25em 0;
}

#question{
}

.wrongAnswer {
    color: red;
    font-weight: bold;
}

.correctAnswer {
    color: green;
    font-weight: bold;
}

.button-large{
    font-size: 110%;
}

#player-response{
    width: 400px;
}
